<section data-controller="calendar-toggle text-toggle"
         data-calendar-toggle-hidden-class="is-hidden"
         data-calendar-toggle-selected-class="has-text-danger"
         data-text-toggle-hidden-class="is-hidden">
  <section>
    <div class="columns is-gapless">
      <% @schedule.schedule_days.each do |schedule_day| %>
        <div class="column has-text-centered js--schedule-day"
             data-action="click->calendar-toggle#toggle"
             id="day-toggle-<%= schedule_day.day.by_example("2006-01-02") %>">
          <%= schedule_day.day.by_example("Jan 2") %>
        </div>
      <% end %>

      <div class="column">Show All</div>
    </div>

    <div class="columns is-centered">
      <div class="column is-four-fifths">
        <div class="control">
          <%= text_field_tag("query", "",
                placeholder: "Search concerts", type: "search",
                id: "search_query", class: "input",
                "data-text-toggle-target": "filterInput",
                "data-action": "input->text-toggle#filter") %>
        </div>
      </div>
    </div>
  </section>

  <br>

  <section>
    <% @schedule.schedule_days.each do |schedule_day| %>
      <section class="day-body"
               id="day-body-<%= schedule_day.day_string %>"
               data-controller="day-toggle"
               data-day-toggle-hidden-class="is-hidden"
               data-day-toggle-visible-value="true"
               data-day-toggle-is-closed-class="is-closed"
               data-day-toggle-is-open-class="is-open">
        <%= render "schedule_day",
                   schedule_day: schedule_day,
                   show: !schedule_day.hidden %>
      </section>
      <br>
    <% end %>
  </section>
</section>
